<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.niftihub.dao.AdminMapper">
<!--    <insert id="addMessage" parameterType="com.example.niftihub.pojo.data.MessageDO">-->
<!--        insert into niftihub.message (UID, fromUid,message,ifPrivate,targetUid,`time`)-->
<!--        values (#{UID},#{fromUid},#{message},#{ifPrivate},#{targetUid},#{time});-->
<!--    </insert>-->

    <select id="login" parameterType="String" resultType="com.example.niftihub.pojo.dto.AdminDTO">
        SELECT `uid`,`level`,`isValid` FROM `admin` WHERE `username` = #{username} AND `password` = #{password};
    </select>
    <select id="selectLevel" parameterType="String" resultType="Integer">
        SELECT `level` FROM `admin` WHERE `uid` = #{uid};
    </select>
    <select id="selectUsername" parameterType="String" resultType="Integer">
        SELECT `uid` FROM `admin` WHERE `username` = #{username};
    </select>
    <insert id="creatAdminUser" parameterType="com.example.niftihub.pojo.data.AdminDO">
        INSERT INTO `niftihub`.`admin` (`username`, `password`, `level`, `createUser`, `isValid`)
        VALUES (#{username}, #{password}, #{level}, #{createUser}, #{isValid});
    </insert>


    <update id="updateValid" parameterType="com.example.niftihub.pojo.data.AdminDO">

        UPDATE `niftihub`.`admin`

        update niftihub.user_info
        <set>
            `isValid` = #{isValid}
        </set>

        <where >
            uid=#{uid};
        </where>

    </update>

</mapper>